<div class="filarianne">
        <a href="/"><img src="/img/articles/home.svg" alt="logo maison"></a>
        <p> > </p>
        <a href="/boutique">
            Boutique 
        </a>
        <p>> {{ article.name }} </p>
    </div>