<div class="folklore">
    <img src="https://via.placeholder.com/300" alt="Image de la chougle">
    <div class="info">
        <h2>La Chougle et son Histoire</h2>
        <p>Du latin chouglus, la « chougle » est plus communément le nom vernaculaire donné à ce rapace à la fois diurne et nocturne. Volatile élégant, la chougle naît du croisement naturel entre un aigle et une chouette.        </p>
        <p>Très discrète, elle n’a été aperçue que par quelques chanceux les soirs de pleine lune. Son existence a donc été reléguée au rang de légende. Un mélange de jeunesse et de sagesse, elle est l’emblème de notre bière ainsi que celui du conseil des jeunes du Centre Protestant d’Amougies.</p>
        <a href="#"><div class="secondary">Notre équipe <img src="/img/flecheBtn.svg" alt=""></div></a>
    </div>
</div>