<footer>
    <div class="liens">
        <p>© 2022 - La Chougle</p>
        <ul>
            <li><a href="/">Accueil</a></li>
            <li><a href="/boutique">Boutique</a></li>
            <li><a href="/panier">Panier</a></li>
            <li><a href="/rgpd">RGPD</a></li>
        </ul>
        <div>
            <a href="https://www.instagram.com/lachougle/"><img src="/img/footer/insta.svg" alt="logo de instagram"></a>
            <a href="https://www.facebook.com/lachougle/"><img src="/img/footer/facebook.svg" alt="logo de facebook"></a>
        </div>
    </div>
    <div class="real">
        <p>Designé et developpé par <a href="https://galandtristan.be">Galand Tristan</a></p>
    </div>

</footer>