<div class="galerie">
    <div class="ligne">
        <img src="https://via.placeholder.com/400x400" alt="">
        <img src="https://via.placeholder.com/400x400" alt="">
        <img src="https://via.placeholder.com/400x400" alt="">
        <img src="https://via.placeholder.com/400x400" alt="">
    </div>
    <div class="ligne">
        <img src="https://via.placeholder.com/400x400" alt="">
        <img src="https://via.placeholder.com/400x400" alt="">
        <img src="https://via.placeholder.com/400x400" alt="">
        <img src="https://via.placeholder.com/400x400" alt="">
    </div>
</div>