<nav>
    <a href="/"> <!--hx-get="/" hx-target="body" hx-push-url="true"-->
        <div class="logo">
            <img src="/img/logoChougle.svg" alt="Logo_de_la-Chougle">
            <H1>La Chougle</H1>
        </div>
    </a>
    <ul>
        <a href="/" ><li>Accueil</li></a>
        <a href="/boutique"><li>Boutique</li></a>
        <a href="/panier"><li><img src="/img/panier.svg" alt="logo du panier de la boutique"></li></a>
    </ul>
</nav>