<div class="produits">
    <a href="/lachougle33cl">
        <div class="card">
            <img src="/img/articles/33cl.png" alt="image la bière en 25cl">
            <div class="description">
                <div>
                    <H3>La Chougle 33cl</H3>
                    <p class="info">Blonde</p>
                </div>
                <p>3€</p>
            </div>
        </div>
    </a>
    <a href="/lachougle75cl">
        <div class="card">
            <img src="/img/75cl.png" alt="image la bière en 25cl">
            <div class="description">
                <div>
                    <H3>La Chougle 75cl</H3>
                    <p class="info">Blonde</p>
                </div>
                <p>7€</p>
            </div>
        </div>
    </a>
    <a href="/lachougletriple33cl">
        <div class="card">
            <img src="/img/25cl.png" alt="image la bière en 25cl">
            <div class="description">
                <div>
                    <H3>La Chougle Triple 33cl</H3>
                    <p class="info">Triple</p>
                </div>
                <p>4€</p>
            </div>
        </div>
    </a>
    <a href="#">
        <div class="card">
            <img src="/img/decapsulleur.webp" alt="image la bière en 25cl">
            <div class="description">
                <div>
                    <H3>Le décapsulleur</H3>
                    <p class="info">Accessoires</p>
                </div>
                <p>4€</p>
            </div>
        </div>
    </a>
    <a href="#">
        <div class="card">
            <img src="/img/articles/tshirt.webp" alt="image la bière en 25cl">
            <div class="description">
                <div>
                    <H3>Tshirt</H3>
                    <p class="info">Accessoires</p>
                </div>
                <p>20€</p>
            </div>
        </div>
    </a>
    <a href="#">
        <div class="card">
            <img src="/img/articles/tshirt.webp" alt="image la bière en 25cl">
            <div class="description">
                <div>
                    <H3>Tshirt</H3>
                    <p class="info">Accessoires</p>
                </div>
                <p>20€</p>
            </div>
        </div>
    </a>
</div>