<div class="actualites">
    <H2>Actualités</H2>
    <div class="listeactu">
        <div class="actu">
            <img src={{ img1 }} alt="image évènement">
            <div>
                <h3>{{ h3_1 }}</h3>
                <p>{{ date1 }}</p>
            </div>
        </div>
        <div class="actu">
            <img src={{ img2 }} alt="image évènement">
            <div>
                <h3>{{ h3_2 }}</h3>
                <p>{{ date2 }}</p>
            </div>
        </div>
        <div class="actu">
            <img src={{ img3 }} alt="image évènement">
            <div>
                <h3>{{ h3_3 }}</h3>
                <p>{{ date3 }}</p>
            </div>
        </div>
    </div>
</div>