<div class="actualites">
    <H2>Actualités</H2>
    <div class="listeactu">
        <div class="actu">
            <img src="\img\actu\noel.jpg" alt="image évènement">
            <div>
                <h3>Marché de Amougies</h3>
                <p>25 janvier 2022</p>
            </div>
        </div>
        <div class="actu">
            <img src="\img\actu\marche.jpg" alt="image évènement">
            <div>
                <h3>Découverte de la Chougle Triple</h3>
                <p>12 février 2022</p>
            </div>
        </div>
        <div class="actu">
            <img src="\img\actu\place.jpg" alt="image évènement">
            <div>
                <h3>Pack cadeau à gagner</h3>
                <p>14 février 2022</p>
            </div>
        </div>
    </div>
</div>