<div class="galerie">
    <div class="ligne">
        <img src="/img/galerie/neige.jpg" alt="">
        <img src="/img/galerie/mat.jpg" alt="">
        <img src="/img/galerie/bar.jpg" alt="">
        <img src="/img/galerie/tableau.jpg" alt="">
        <img src="/img/galerie/festichougle.jpg" alt="">
    </div>
    <div class="ligne">
        <img src="/img/galerie/festichougle.jpg" alt="">
        <img src="/img/galerie/marche.jpg" alt="">
        <img src="/img/galerie/mat.jpg" alt="">
        <img src="/img/galerie/tableau.jpg" alt="">
        <img src="/img/galerie/bar.jpg" alt="">
    </div>
</div>