<div class="heading">
        <div class="presentation">
            <h1>La Chougle</h1>
            <p>Bières brassée par des copintes pour des copintes, avec cette envie de partager de bons moments autour de bonnes bières arttisanales.</p>
            <a href="#"><button>Voir la boutique</button></a>
        </div>
        <div class="bouteilles">
            <img src="/img/bouteilles.png" alt="Les différents types de bière La Chougle">
        </div>
    </div>