<div class="produits">
    <a href="/articles/chougle-33cl">
        <div class="card">
            <img src="/img/articles/33cl.png" alt="image la bière en 25cl">
            <div class="description">
                <div>
                    <H3>La Chougle 33cl</H3>
                    <p class="info">Blonde</p>
                </div>
                <p>3€</p>
            </div>
        </div>
    </a>
    <a href="/articles/chougle-75cl">
        <div class="card">
            <img src="/img/articles/75cl.png" alt="image la bière en 25cl">
            <div class="description">
                <div>
                    <H3>La Chougle 75cl</H3>
                    <p class="info">Blonde</p>
                </div>
                <p>7€</p>
            </div>
        </div>
    </a>
    <a href="/articles/chougle-triple-33cl">
        <div class="card">
            <img src="/img/articles/33cl.png" alt="image la bière en 25cl">
            <div class="description">
                <div>
                    <H3>La Chougle Triple 33cl</H3>
                    <p class="info">Triple</p>
                </div>
                <p>4€</p>
            </div>
        </div>
    </a>
        
        <a href="/boutique"><img src="/img/fleche.svg" alt="flèche pour poursuivre vers la boutique"></a>
    </div>