
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav .logo{
    margin: 10px;
    display: flex;
    align-items: center;
    cursor: pointer;
}
nav .logo img{
    padding-right: 20px;
}
nav ul{
    display: flex;
    align-items: center;
    list-style: none;
}
nav ul li{
    padding: 20px;
    transition-duration: 0.4s;
}
nav ul li:hover{
    background-color: #F0EFEF;
}