.container{
    margin: 20px 20%;
}
.container p{
    margin: 10px;
}
h1{ 
    text-align: center;
    margin-bottom: 20px;
    
}
h2{
    margin: 10px 0px;
    color: #6FB95B;
}
h3{
    margin: 10px;
    color: #6FB95B;
}
.container a{
    color: #6FB95B;
}