@import url("/styles/nav.css");
@import url("/styles/equipe.css");
@import url("/styles/footer.css");
@import url("/styles/event.css");
@import url("galerie.css");
@import url("heading.css");
@import url("produits.css");
@import url("folklore.css");

@font-face {
    font-family: 'Raleway-Regular';
    src: url('/font/Raleway-Regular.ttf') format("truetype");
}
*{
    margin: 0;
    padding: 0;
    font-family: 'Raleway-Regular';
}
a{
    color: black;
    text-decoration: none;
}
h1{
    text-align: center;
}
button{
    background-color: #6FB95B;
    color: white;
    border: 2px solid #6FB95B;
    padding: 10px 50px;
    border-radius: 10px;
    font-size: 15px;
    cursor: pointer;
    transition-duration: 0.4s;
}
button:hover{
    background-color: white;
    color: #6FB95B;
    border: 2px solid #6FB95B;
}
.secondary{
    background-color: none;
    color: white;
    padding: 10px 0px;
    display: flex;
    align-items: center;
}
.secondary img{
    padding-left: 10px;
}
.secondary:hover img{
    padding-left: 20px;
}
p{
    line-height: 25px;
}
