@import url("/styles/nav.css");

@font-face {
    font-family: 'Raleway-Regular';
    src: url('/font/Raleway-Regular.ttf') format("truetype");
}
*{
    margin: 0;
    padding: 0;
    font-family: 'Raleway-Regular';
}
a{
    color: black;
    text-decoration: none;
}
button{
    background-color: #6FB95B;
    color: white;
    border: 2px solid #6FB95B;
    padding: 10px 50px;
    border-radius: 10px;
    font-size: 15px;
    cursor: pointer;
    transition-duration: 0.4s;
}
button:hover{
    background-color: white;
    color: #6FB95B;
    border: 2px solid #6FB95B;
}
.secondary{
    background-color: none;
    color: white;
    padding: 10px 0px;
    display: flex;
    align-items: center;
}
.secondary img{
    padding-left: 10px;
}
.secondary:hover img{
    padding-left: 20px;
}
h2{ 
    text-align: center;
    margin: 20px;
}

.heading{ 
    background: linear-gradient(0deg, rgba(62, 105, 50, 0.14), rgba(62, 105, 50, 0.14)), url("/img/heading.webp");
    background-size: cover;
    display: flex;
    flex-wrap: wrap;
}
.heading .presentation{
    width: 20%;
    padding: 15% 20%;
    color: white;
    line-height: 132.9%;
}
.heading .presentation p{
    margin: 30px 0px;
}
.produits{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-items: center;
    margin: 5%;
}
.card{
    background-color: #FAFAFA;
    padding:30px;
    margin-bottom: 20px;
    width: 250px;
    display: flex;
    flex-direction: column;
    transition-duration: 0.4s;
}
.card:hover{
    background-color: #F0EFEF;
}
.card:hover .info{
    color: black;
}
.card img{
    margin: 20px;
}
.card .description{
    display: flex;
    justify-content: space-between;
}
.info{
    color: lightgray;
    transition-duration: 0.4s;
}
.folklore{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background: linear-gradient(0deg, rgba(62, 105, 50, 0.14), rgba(62, 105, 50, 0.14)), url("/img/foret.jpg");
    background-size: cover;
    padding: 10% 20%;
}
.folklore .info{
    margin: 20px;
    padding: 40px;
    background-color: #2E2E2E;
    width: 30rem;
}
.folklore .info p{
    padding: 10px 0px;
}


.actualites{
    margin: 5% 10%;
}
.listeactu{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.actualites .listeactu .actu img{
    width: 350px;
    height: 250px;
}


.galerie{
    width: 100%;
}
.galerie .ligne{
    display: flex;
    width: 100%;
}
.galerie .ligne img{
    width: 20%; 
    object-fit: cover;
    aspect-ratio: 1 / 1;
}


