<html lang="fr">
    {% set title="Boutique - lachougle.be" %}
    {% include "./_includes/head.njk" %}
    <link rel="stylesheet" href="/styles/boutique.css">
<body>
    <!-- Navigation -->
    {% include "./_includes/nav.njk" %}

    <h1>La boutique</h1>
    {% include "./_includes/boutique/produits-bout.njk" %}

    <!-- Footer -->
    {% include "./_includes/footer.njk" %}
</body>
</html>