<!DOCTYPE html>
<html lang="fr">
    {% set title="équipe - lachougle.be" %}
    {% include "./_includes/head.njk" %}
<body>
    <!-- Navigation -->
    {% include "./_includes/nav.njk" %}

    <h1>Notre team</h1>

    <!-- Footer -->
    {% include "./_includes/footer.njk" %}
</body>
</html>