<!DOCTYPE html>
<html lang="fr">
    {% set title="Equipe - lachougle.be" %}
    {% include "./_includes/head.njk" %}
    <link rel="stylesheet" href="/styles/equipe.css">
<body>
    <!-- Navigation -->
    {% include "./_includes/nav.njk" %}

    <div class="container">
        <h1>Notre équipe</h1>
        <img src="/img/imgequipe.jpg" alt="photo de l'équipe">
        <h2>Qui et Pourquoi ?</h2>
        <p>
            Derrière ce projet, ne se cache pas une entreprise, mais bien une bande de copains.
        </p>
        <p>
            Étudiants en secondaire, en supérieur ou lancés dans la vie active, nous avons tous un point commun qui n’est autre que le Centre protestant d’Amougies.
        </p>
        <p>
            Animateurs et anciens animateurs, nous nous sommes rencontrés lors de diverses activités proposées par le CPA.
        </p>
        <p>                                                              
            Notre amour pour ce lieu et pour les gens qui y sont liés nous a amené à nous inclure dans le conseil des jeunes du CPA, également appelé « conseil des Chougles ». Tout au long de l’année, diverses activités tournant autour du Centre  nous rassemblent et nous permettent de garder un contact régulier. Entre les camps de vacances, les plaines de jeux ou encore l’organisation de certaines activités destinées aux classes vertes, nous considérons le CPA comme une seconde maison.
        </p>
        <p>
            La réalisation de cette bière nait d’un rêve de jeunes un peu utopistes. Un projet souvent émis au cours d’une soirée.
        </p>
        <p>
            Les fonds de la vente de cette bière seront dédiés à la réalisation d’un projet à concrétiser. L’ensemble du conseil des jeunes aimerait doter le Centre d’un lieu de camping alternatif en y construisant une yourte.
        </p>
        <p>
            Nous sommes fiers de pouvoir vous présenter le fruit d’un travail de longue haleine, « La Chougle », une bière d’exception.
        </p>
    </div>
    <!-- Footer -->
    {% include "./_includes/footer.njk" %}
</body>
</html>