<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/styles.css">
    <title>La Chougle</title>
    
</head>
<body>
    {% include "./_includes/nav.njk" %}
    <div class="heading">
        <div class="presentation">
            <h1>La Chougle</h1>
            <p>Bières brassée par des copintes pour des copintes, avec cette envie de partager de bons moments autour de bonnes bières arttisanales.</p>
            <a href="#"><button>Voir la boutique</button></a>
        </div>
        <div class="bouteilles">
            <img src="img/bouteilles.png" alt="Les différents types de bière La Chougle">
        </div>
    </div>
    <div class="produits">
        <a href="#">
            <div class="card">
                <img src="img/25cl.png" alt="image la bière en 25cl">
                <div class="description">
                    <div>
                        <H3>La Chougle 33cl</H3>
                        <p class="info">Blonde</p>
                    </div>
                    <p>3€</p>
                </div>
            </div>
        </a>
        <a href="#">
            <div class="card">
                <img src="img/75cl.png" alt="image la bière en 25cl">
                <div class="description">
                    <div>
                        <H3>La Chougle 75cl</H3>
                        <p class="info">Blonde</p>
                    </div>
                    <p>7€</p>
                </div>
            </div>
        </a>
        <a href="#">
            <div class="card">
                <img src="img/25cl.png" alt="image la bière en 25cl">
                <div class="description">
                    <div>
                        <H3>La Chougle Triple 33cl</H3>
                        <p class="info">Triple</p>
                    </div>
                    <p>4€</p>
                </div>
            </div>
        </a>
        <a href="#">
            <div class="card">
                <img src="img/decapsulleur.webp" alt="image la bière en 25cl">
                <div class="description">
                    <div>
                        <H3>Le décapsulleur</H3>
                        <p class="info">Accessoires</p>
                    </div>
                    <p>4€</p>
                </div>
            </div> 
        </a>
        <a href="#"><img src="img/fleche.svg" alt="flèche pour poursuivre vers la boutique"></a>
    </div>
</body>
</html>