<!DOCTYPE html>
<html lang="fr">
    {% set title="lachougle.be" %}
    {% include "./_includes/head.njk" %}
<body>
    <!-- Navigation -->
    {% include "./_includes/nav.njk" %}
    
    <!-- Heading -->
    {% include "./_includes/index/heading.njk" %}
    
    <!-- Liste des produits -->
    {% include "./_includes/index/produits.njk" %}

    <!-- Folklore-->
    {% include "./_includes/index/folklore.njk" %}

    <!-- Evènements -->
    {% include "./_includes/index/event.njk" %}
    
    <!-- galerie -->
    {% include "./_includes/index/galerie.njk" %}

    <!-- Footer -->
    {% include "./_includes/footer.njk" %}
</body>
</html>