<!DOCTYPE html>
<html lang="fr">
    {% set title="lachougle.be" %}
    {% include "./_includes/head.njk" %}
<body>
    <!-- Navigation -->
    {% include "./_includes/nav.njk" %}

    <!-- Heading -->
    {% include "./_includes/index/heading.njk" %}

    <!-- Liste des produits -->
    {% include "./_includes/index/produits.njk" %}

    <!-- Folklore-->
    {% include "./_includes/index/folklore.njk" %}

    <!-- Evènements -->
    <!-- Event 1-->
    {% set img1="https://via.placeholder.com/350x250" %}
    {% set h3_1="Marché de Amougies" %}
    {% set date1="25 janvier 2022" %}
    <!-- Event 2-->
    {% set img2="https://via.placeholder.com/350x250" %}
    {% set h3_2="Dégustation de la chougle triple" %}
    {% set date2="12 février 2022" %}
    <!-- Event 3-->
    {% set img3="https://via.placeholder.com/350x250" %}
    {% set h3_3="Pack cadeau à gagner" %}
    {% set date3="14 février 2022" %}
    {% include "./_includes/index/event.njk" %}
    
    <!-- galerie -->
    {% include "./_includes/index/galerie.njk" %}

    <!-- Footer -->
    {% include "./_includes/footer.njk" %}
</body>
</html>