<html lang="fr">
    {% set title="La Chougle 33cl - lachougle.be" %}
    {% include "./_includes/head.njk" %}
    <link rel="stylesheet" href="/styles/article.css">
<body>
    <!-- Navigation -->
    {% include "./_includes/nav.njk" %}

    <!-- Fil d'Arianne-->
    {% set nom="La Chougle 33cl" %}
    {% include "./_includes/fildarianne.njk" %}

    <div class="contain">
        <img src="/img/articles/33cl.png" alt="image de la bière">
        <div class="informations">
            <h1>La Chougle 33cl</h1>
            <h2>Description</h2>
            <p>La Chougle est une bière blonde belge. Un savant mélange de houblon et d’épices qui lui confère des arômes d’agrumes (pamplemousse, citron vert et mandarine) et de fruits exotiques. Sa légère amertume lui apporte fraîcheur et caractère.</p>
            <h2>Informations</h2>
            <p>EBC : 11</p>
            <p>IBU : 36</p>
            <p>6,5%</p>
        </div>
        <div class="commande">
            <h2>3,00€</h2>
            
            <button data-action="decrease">
                <span>-</span>
            </button>
            <div class="quant counter-value"><p>Quantité :</p><input type="text" value="1"></div>
            <button data-action="increase">
                <span>+</span>
            </button>
            <button id="ajoute-chougle-33cl" data-action="save">Ajouter au panier</button>
            <p>Total de bière : </p>
        </div>
    </div>
    <div class="counter">
        <div class="counter-value">0</div>

        <div class="counter-controls">
            
        </div>
    </div>
        
    </div>
    <script src="/js/app.js"></script>
    <script>
        
    </script>
    <!-- Footer -->
    {% include "./_includes/footer.njk" %}
</body>
</html>